body {
    background-color: #242526
}


body {
  background-image: url('cbg.png');
}

.center {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;

}
	
@font-face {
  font-family: filson;
  src: url(FilsonSoftRegular.ttf);
}
img {
        -webkit-filter: drop-shadow(4px 5px 10px #545454);
        filter: drop-shadow(4px 5px 10px #545454);
}
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.center:hover .image {
  opacity: 0.3;
}

.center:hover .middle {
  opacity: 1;
}      
